<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>Twitterアカウントと連動するバトルwebアプリ</h1>
          <% unless logged_in? %>
            <%= link_to 'Twitterでログイン', '/auth/twitter', class: "btn btn-success btn-lg" %>
          <% end %>
      </div>
    </div>
  </div>
<% end %>
